package card

import "comics-galore-web/internal/blog"

templ Cards(posts []blog.Post) {
<div class="p-6">
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        for _, post := range posts {
            @Card(&post, false)
        }
    </div>
</div>
}
