package footer

import "strconv"
import "time"

templ Footer() {
<footer class="bg-white border-t shadow-inner">
    <div class="w-full max-w-7xl mx-auto px-6 py-4 text-center text-sm text-gray-500">
        ©{ strconv.Itoa(time.Now().Year())} Comics Galore. All rights reserved.
    </div>
</footer>
}
